/* WEATHER BLOCK IN WEATHER
--------------------------------------------------------------------------*/
#block-block-35 .block-inner {
    padding: 0;
    border: none;
}

#block-block-35 .block-inner .content {
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-content-wrapper {
    font-size: 12px;
    line-height: 1.5em;
}

.block-views .views-field-title a {
    font-weight: bold;
}


@media only screen and (min-width: 768px) {

    /* Hide smaller DFP ads on non full-size browsers */
    #block-dfp-cni-fernandinamobile {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {
    /* Hide larger DFP ads on non full-size browsers */

}