/* WEATHER BLOCK IN WEATHER
--------------------------------------------------------------------------*/
#block-block-35 .block-inner {
    padding: 0;
    border: none;
}

#block-block-35 .block-inner .content {
    padding:0;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}