# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/default/files/.htaccess

# Ignore paths that contain generated content.
sites/*/files
sites/default/files
sites/*/private

# Ignore default files
favicon.ico
error_log

# Ignore site specific css
#sites/all/themes/cni/css/site.css
#sites/all/modules/etype/etype_mapping.php
# Ignore site specific templates
sites/all/themes/cni/templates/node--*tpl.php

# Odds and sods
keys
temp
Archive.zip
*Rate*Card*.pdf
.ftpquota
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
index_test.php
