# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain generated content.
sites/*/files
sites/*/private
sites/*/tmp

# Ignore default files
error_log
.idea/
.DS_Store

#Ignore composer vendor directory
/vendor/
