/* dfp ads */

#block-dfp-cni-mitchellbanner {
    width: 468px;
    margin: 0 auto;
}

#block-dfp-sidebar-1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-mitchellleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-mitchellleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-mitchellsidebar1 {
    width:300px;
}

#block-dfp-cni-mitchellsidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-mitchellsidebar2 {
    width:300px;
}

#block-dfp-cni-mitchellsidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-mitchellfooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-mitchellfooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-mitchellmobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-banner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 7em;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* main menu */
    #main-menu ul.menu {
        margin-left: 2em;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-mitchellleaderboard, #block-dfp-cni-mitchellbanner, #block-dfp-cni-mitchellfooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-mitchellmobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-mitchellleaderboard, #block-dfp-cni-mitchellbanner, #block-dfp-cni-mitchellfooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-mitchellmobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 630px;
}

.site-logo img {
    width: 100%;
    max-width: 630px;
}

/* nie page */
.page-node-191327 #node-191327 .field-image {
    display: none;
    visibility: hidden;
}