/* dfp ads */

#dfp-ad-banner > img {
    max-width: 100% !important;
}

#block-dfp-sidebar-1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-claytonleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-claytonleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-claytonsidebar1 {
    width:300px;
}

#block-dfp-cni-claytonsidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-claytonsidebar2 {
    width:300px;
}

#block-dfp-cni-claytonsidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-claytonfooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-claytonfooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-claytonmobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-banner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-banner {
        width: 468px;
        margin: 0px auto 0px 12px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

    #main-menu ul.menu li a {
        padding: 0 8px;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-claytonleaderboard, #block-dfp-banner, #block-dfp-cni-claytonfooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-claytonmobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-claytonleaderboard, #block-dfp-banner, #block-dfp-cni-claytonfooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-claytonmobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 936px;
}

.site-logo img {
    width: 100%;
    max-width: 936px;
}

/* things to do pages */
.node-type-attraction p.attribution {
    font-style: italic;
}

.view-things-to-do-hiking .views-row, .view-visit-clayton-waterfalls .views-row  {
    margin-bottom: 1em;
}

.view-things-to-do-hiking .views-row .views-field-field-image, .view-visit-clayton-waterfalls .views-row .views-field-field-image {
    margin-right: 0.6em;
    float: left;
}

/* Advertise page */
.advertise .field-name-field-download {
    display: none;
    visibility: hidden;
}