.node-article .content a {
    color: blue;
    text-decoration: underline;
}

.node-article .content .field-type-email a {
    color: #333333;
    text-decoration: none;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {

  .region-main-menu-second-level .block-dfp {
    display: block;
    visibility: visible;
	text-align:center; } }

@media only screen and (max-width: 479px) and (min-width: 421px) {

  .region-main-menu-second-level .block-dfp {
    display: block;
    visibility: visible;
	text-align:center; } }

@media only screen and (max-width: 420px) {

  .region-main-menu-second-level .block-dfp {
    display: block;
    visibility: visible;
	text-align:center; } }
