.node-article .content a {
    color: blue;
    text-decoration: underline;
}

.node-article .content .field-type-email a {
    color: #333333;
    text-decoration: none;
}

#block-block-38  .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}
