.node-article .content a {
    color: blue;
    text-decoration: underline;
}

.node-article .content .field-type-email a {
    color: #333333;
    text-decoration: none;
}

/* AP Blocks */
#block-block-38 .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

#block-block-42 .content {
    display: flex;
    flex-wrap: nowrap;
}

#main-content #block-block-38 .block-inner,
#main-content #block-block-38 .block-inner {
    padding: 0;
}