/* dfp ads */

#dfp-ad-cni_beachesbanner > img {
    max-width: 100% !important;
}

#block-dfp-cni-beachesleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-beachesleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-beachessidebar1 {
    width:300px;
}

#block-dfp-cni-beachessidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-beachessidebar2 {
    width:300px;
}

#block-dfp-cni-beachessidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-beachesfooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-beachesfooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-beachesmobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-cni-beachesbanner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-cni-beachesbanner {
        width: 468px;
        margin: 0px auto 0px 12px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-beachesleaderboard, #block-dfp-cni-beachesbanner, #block-dfp-cni-beachesfooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-beachesmobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-beachesleaderboard, #block-dfp-cni-beachesbanner, #block-dfp-cni-beachesfooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-beachesmobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 798px;
}

.site-logo img {
    width: 100%;
    max-width: 798px;
}