/* Google DFP Ads
--------------------------------------------------------------------------*/

.block-dfp {
    margin-bottom: 10px;
}

.block-dfp .block-inner, #main-content .block-dfp .block-inner {
    padding: 0;
    margin: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
}

.preface-wrapper-top .block-dfp .content {
    background: none;
}

#block-dfp-cni-cherokeeleaderboard, #block-dfp-cni-franklinpressclassifieds {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

#block-dfp-cni-cherokeefooter {
    text-align: center;
    margin-bottom: 20px;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-cni-franklinpressbanner {
        width: 468px;
        margin: 0 auto 20px 70px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-cni-franklinpressbanner {
        width: 468px;
        margin: 0;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

    #main-menu ul.menu li a {
        padding: 0 8px;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-cherokeeleaderboard, #block-dfp-cni-franklinpressbanner, #block-dfp-cni-cherokeefooter, #block-dfp-cni-franklinpressclassifieds {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-highlandsmobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-cherokeeleaderboard, #block-dfp-cni-franklinpressbanner, #block-dfp-cni-cherokeefooter, #block-dfp-cni-franklinpressclassifieds {
        display: block;
        visibility: visible;
    }

}

/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 630px;
}

.site-logo img {
    width: 100%;
    max-width: 630px;
}

/* nie page */
.page-node-191327 #node-191327 .field-image {
    display: none;
    visibility: hidden;
}