#admin-menu .admin-menu-search input {
    margin: 6px 0px !important;
}

#admin-menu, #admin-menu .dropdown {
    line-height: 2.4em !important;
}

#admin-menu .dropdown a, #admin-menu .dropdown li > span {
    font-size: 1.3em !important;
}