/* dfp ads */

#dfp-ad-banner > img {
    max-width: 100% !important;
}

#block-dfp-sidebar-1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-toccoaleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-toccoaleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-toccoasidebar1 {
    width:300px;
}

#block-dfp-cni-toccoasidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-toccoasidebar2 {
    width:300px;
}

#block-dfp-cni-toccoasidebar2 iframe {
    width:300px; height:250px;
}

/*
#block-dfp-cni-__site__footer {
    width:728px;
    margin: 5px auto;
}

#block-dfp-cni-__site__footer iframe {
    width:728px;
    height:90px;
}
*/

/*
#block-dfp-cni-__site__mobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}
*/

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-banner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-banner {
        width: 468px;
        margin: 0px auto 0px 12px;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-toccoaleaderboard, #block-dfp-banner, #block-dfp-cni-toccoafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-toccoamobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-toccoaleaderboard, #block-dfp-banner, #block-dfp-cni-toccoafooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-toccoamobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 516px;
}

.site-logo img {
    width: 100%;
    max-width: 516px;
}