.form-inline {
	background: #f9f9f9;
}

.form-inline .form-item {
	float: left;
	padding-right: 10px;
}

.form-item-grid-size {
	display: none;
}

/* hide theme default mobile drop-down nav */
#mm0 {
	display: none;
	visibility: hidden;
}