/* dfp ads */

#dfp-ad-cni_palatkabanner {
    width: 468px;
    margin: 0 auto;
}

#block-dfp-sidebar-1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-palatkaleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-palatkaleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-palatkasidebar1 {
    width:300px;
}

#block-dfp-cni-palatkasidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-palatkasidebar2 {
    width:300px;
}

#block-dfp-cni-palatkasidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-palatkafooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-palatkafooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-palatkamobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-cni-palatkaitypromo {
        margin-top: 20px;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-cni-palatkaitypromo {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-palatkaleaderboard, #block-dfp-cni-palatkafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-palatkamobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-palatkaleaderboard, #blcok-dfp-cni-palatkabanner #block-dfp-cni-palatkafooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-palatkamobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 630px;
}

.site-logo img {
    width: 100%;
    max-width: 630px;
}

/* about us */
.about-us .node-content-wrapper .field-name-body td {
    vertical-align: top;
    border: none;
    width: 50%;
}

.about-us .node-content-wrapper .field-name-body td img {
    float: left;
    width: 70px;
    height: auto;
    margin-right: 0.5em;
    margin-top: 0.9em;
    clear: both;
}

.about-us .node-content-wrapper .field-name-body td h2 {
    clear: both;
}

.about-us .node-content-wrapper .field-name-body td p {
    font-size: 0.8em;
}