/* dfp ads */

#block-dfp-cni-toccoaleaderboard > img, #block-dfp-cni-toccoabanner > img {
    max-width: 100% !important;
}

#block-dfp-cni-toccoasidebar1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-toccoaleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-toccoaleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-toccoasidebar1 {
    width:300px;
}

#block-dfp-cni-toccoasidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-toccoasidebar2 {
    width:300px;
}

#block-dfp-cni-toccoasidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-toccoafooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-toccoafooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-tribunegeorgianmobile1 {
    width: 320px;
    margin: 1em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-cni-toccoabanner {
        width: 468px;
        margin: 0px auto 0px 83px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 7em;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-cni-toccoabanner {
        width: 468px;
        margin: 0px auto 0px 12px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 2em;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-toccoaleaderboard, #block-dfp-cni-toccoabanner, #block-dfp-cni-toccoafooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-tribunegeorgianmobile1 {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-toccoaleaderboard, #block-dfp-cni-toccoabanner, #block-dfp-cni-toccoafooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-tribunegeorgianmobile1 {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
}

.site-logo img {
    width: 100%;
    max-width: 700px;
}
