/* Google DFP Ads
--------------------------------------------------------------------------*/

.block-dfp {
    margin-bottom: 10px;
}

.block-dfp .block-inner, #main-content .block-dfp .block-inner {
    padding: 0;
    margin: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
}

.preface-wrapper-top .block-dfp .content {
    background: none;
}

#block-dfp-cni-highlandsleaderboard {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-cni-highlandsbanner {
        width: 468px;
        margin: 0 auto 20px 70px;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-cni-highlandsbanner {
        width: 468px;
        margin: 0;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 0;
    }

    #main-menu ul.menu li a {
        padding: 0 8px;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-highlandsleaderboard, #block-dfp-cni-highlandsbanner, #block-dfp-cni-highlandsfooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-highlandsmobile {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-highlandsleaderboard, #block-dfp-cni-highlandsbanner, #block-dfp-cni-highlandsfooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-highlandsmobile {
        display: none;
        visibility: hidden;
    }
}


/* logo */
.site-logo {
    width: 80%;
    margin: 0 auto;
    max-width: 936px;
}

.site-logo img {
    width: 100%;
    max-width: 936px;
}

/* things to do pages */
.node-type-attraction p.attribution {
    font-style: italic;
}

.view-things-to-do-hiking .views-row, .view-visit-highlands-waterfalls .views-row  {
    margin-bottom: 1em;
}

.view-things-to-do-hiking .views-row .views-field-field-image, .view-visit-highlands-waterfalls .views-row .views-field-field-image {
    margin-right: 0.6em;
    float: left;
}

/* Advertise page */
.advertise .field-name-field-download {
    display: none;
    visibility: hidden;
}