.node-article .content a {
    color: blue;
    text-decoration: underline;
}

.node-article .content .field-type-email a {
    color: #333333;
    text-decoration: none;
}

/* LCR Social block */
#block-block-38 .block-inner {
    padding: 0;
}

#block-views-special-section-block {
    display: block;
    visibility: visible;
}

#block-views-special-section-block-1 {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 958px) {
    #block-views-special-section-block {
        display: none;
        visibility: hidden;
    }

    #block-views-special-section-block-1 {
        display: block;
        visibility: visible;
    }
}