/* WEATHER BLOCK IN WEATHER
--------------------------------------------------------------------------*/
#block-block-35 .block-inner {
    padding: 0;
    border: none;
}

#block-block-35 .block-inner .content {
    padding:0;
}

/* wider screens */
@media only screen and (min-width: 959px) {

    #block-dfp-cni-nassaumobile {
        display: none;
        visibility: hidden;
    }
	/* place dfp nassaupromo block next to site logo on wider screens */

	.site-logo {
    	display: flex;
    	justify-content: flex-start;
    	margin: 0 auto;
    	width: 100%;
	}

	#block-dfp-cni-nassaupromo {
    	float: right;
    	margin-top: -78px;
	}

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    #block-dfp-cni-nassaumobile {
        display: none;
        visibility: hidden;
    }
	/* place dfp nassaupromo block next to site logo on large screens */

	.site-logo {
    	float: left;
    	margin: 0 auto;
    	width: 58%;
	}

	#block-dfp-cni-nassaupromo {
    	float: right;
	}
}

/* smaller browsers, tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {

    /* Hide some DFP ads on non full-size browsers */
    #block-dfp-cni-nassauleaderboard, #dfp-ad-cni_nassaufooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-nassaumobile {
        display: block;
        visibility: visible;
    }
}

/* larger phones */
@media only screen and (max-width: 479px) and (min-width: 421px) {

    /* Hide some DFP ads on non full-size browsers */
    #block-dfp-cni-nassauleaderboard, #dfp-ad-banner, #dfp-ad-cni_nassaufooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-nassaumobile {
        display: block;
        visibility: visible;
    }
}

